# C++ build artifacts from hw2 and hw3
*.out
*.o
*.exe
hw2/ams562_hw2
hw3_tests

# Test output files
test_output.txt
extra_test_output.txt

# Ignore Doxygen generated documentation output
docs/

# macOS system files
.DS_Store

# Ignore compiled binary and Doxygen output
hw3/hw3_tests
hw3/html/
hw3/latex/

# CMake / build directories
AMS562_Homework5/build/
